@import url('http://fonts.cdnfonts.com/css/amiga-forever');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Amiga Forever", sans-serif;
    
    user-drag: none; 
    -webkit-user-drag: none;
    
    image-rendering: pixelated;
    
    user-select: none;
    -moz-user-select: none;
    
    -webkit-user-select: none;
    -ms-user-select: none;
}

a {
    text-decoration: none;
    color: black;
}

/*---------------------------------------*/

header {
    border-bottom: 2px solid rgba(0, 0, 0, 60%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 50%);
    
    text-align: center;
    
    width: 100%;
}

header h1 {
    padding: 10px 0;
    
    font-size: 18pt;
}

header #return {
    position: absolute;
    
    left: 15px;
    top: 5px;
    
    width: 50px;
    
    border-radius: 10%;
    
    transition: background-color 0.3s;
}


header #return:hover {
    background-color: #bbb;
}

header #options {
    position: absolute;
    
    right: 8px;
    top: 8px;
    
    width: 50px;
    
    border-radius: 10%;
    
    transition: background-color 0.3s;
}

header #options img {
    padding-left: 10px;
}

header #options:hover {
    background-color: #bbb;
}

header .name {
    position: absolute;
    
    left: 50%;
    top: 80px;
    
    transform: translateX(-50%);
    
    border: none;
    border-bottom: 1px solid black;
    
    text-align: center;
    
    transition: border-bottom 0.5s;
}

header .name:focus {
    outline: none;
    border-bottom: 3px solid black;
}

footer {
    position: absolute;
    
    bottom: 0;
    
    border-top: 2px solid rgba(0, 0, 0, 60%);
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 50%);
    
    text-align: center;
    
    width: 100%;
    height: 90px;
}

#play-btn {
    position: absolute;
    
    left: 30px;
    bottom: 70px;
    
    padding: 20px;
    
    border: 2px solid black;
    border-radius: 50%;
    
    background-color: #26d646;
    
    width: 100px;
    height: 100px;
    
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 50%);
    
    cursor: pointer;
    
    transition: background-color 0.3s;
}

#play-btn img {
    margin-left: 8px;
    padding-top: 5px;
    
    width: 50px;
}

#play-btn:hover {
    background-color: #1da536;
}

.note {
    width: 40px;
    
    transition: margin-bottom 0.5s;
}

.note:hover, .modifier:hover, .rest:hover {
    margin-bottom: 10px;
}

#notes { /* o seu besta quadrada vc tem que saber que quando é id se usa # */
    position: absolute;
    
    left: 80px;
    bottom: 20px;
}

#notes::after, #modifiers::after, #rests::after {
    content: "";
    
    position: relative; /* relative é relativo à posição original dele */
    display: inline-block;
    
    left: 15px;
    
    height: 40px;
    
    border-right: 1px solid black;
}

#notes::after {
    bottom: 5px;
}


.sel {
    border-bottom: 2px solid blue;
}

.modifier {
    width: 30px;
    
    transition: margin-bottom 0.5s;
}

#modifiers {
    position: absolute;
    
    left: 515px;
    bottom: 25px;
}

.rest {
    width: 30px;
    
    transition: margin-bottom 0.5s;
}

#rests {
    position: absolute;
    
    left: 700px;
    bottom: 25px;
}

footer a > img {
    padding-bottom: 5px;
}
